$dark: #1d1d1d;

$typography-primary: #121212;
$typography-primary-inverted: #ffffff;
$typography-interactive: #48ac98;

$teal: #48ac98;
$rhubarb: #cb7c7a;
$wheat: #c89d58;
$petrol: #2a6879;

$light-teal: #cad8cb;
$light-rhubarb: #e3c3c7;
$light-petrol: #c9d7de;
$light-wheat: #efd7ba;

$dark-teal: #2a7e6d;
$dark-rhubarb: #9e5957;
$dark-wheat: #8c6c3a;
$dark-petrol: #093d4d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
